body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.progress {
  height: 20px;
  width: 500px;
  background-color: rgb(233, 236, 233);
  border: 1px solid black;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.progress span {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 1;
}

.progress div {
  height: 100%;
  background-color: green;
}